.main-content__table-list {
  width: 100%;
  list-style-type: none;
  padding: 0;
}

.main-content__item {
  width: 100%;
  min-height: 40px;
  display: grid;
  grid-template-columns: 2fr 2fr 2fr 2fr 2fr 1fr;
  background-color: #ffffff;
  border-radius: 6px;
  margin-bottom: 4px;
  align-items: center;
  padding-left: 32px;
  padding-right: 32px;
  box-sizing: border-box;
}

.main-content__item:first-child {
  min-height: 40px;
}

.main-content__item-el {
  font-family: 'Roboto', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #353D4B;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.main-content__item:first-child .main-content__item-el {
  font-family: 'Roboto', Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  color: #353D4B;
}

.main-content__item:last-child {
  margin-bottom: 0;
}

.main-content__info-block {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-content__buttons-block {
  justify-self: end;
}

.main-content__show-btn {
  width: 30px;
  height: 30px;
  border: none;
  background-color: white;
  font-weight: 600;
  font-size: 20px;
  color: #353D4B;
}

.main-content__show-btn:hover {
  cursor: pointer;
  opacity: 0.6;
}

.main-content__del-btn {
  width: 30px;
  height: 30px;
  border: none;
  background-color: white;
  font-weight: 600;
  font-size: 20px;
  color: #353D4B;
}

.main-content__del-btn:hover {
  cursor: pointer;
  opacity: 0.6;
}

@media (max-width: 1280px) {
  .main-content__item {
    padding-left: 16px;
    padding-right: 16px;
  }
}

@media (max-width: 800px) {
  .main-content__item {
    padding-right: 0;
  }
}